## Label Check

In [3]:
import pickle

In [6]:
label_list = [
    'no_relation',
    'product',
    'location',
    'poh:type',
    'related',
    'org:members',
    'poh:start_date',
    'per:member_of',
    'alternate',
    'org:field',
    'org:event',
    'per:title',
    'org:founded',
    'poh:end_date'
]

In [14]:
dict_label_to_num = {}
dict_num_to_label = {}

for i, label in enumerate(label_list) :
    dict_label_to_num[label] = i
    dict_num_to_label[i] = label

In [9]:
with open('dict_label_to_num.pkl','wb') as f:
    pickle.dump(dict_label_to_num, f)

In [15]:
with open('dict_num_to_label.pkl','wb') as f:
    pickle.dump(dict_num_to_label, f)

In [16]:
with open('dict_num_to_label.pkl', 'rb') as f:
    dict_num_to_label = pickle.load(f)

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/opt/ml/project/data/data/train/train.csv')

In [3]:
df.head()

,id,sentence,subject_entity,object_entity,label,source
0,0,〈Something〉는 조지 해리슨이 쓰고 비틀즈가 1969년 앨범 《Abbey R...,"{'word': '비틀즈', 'start_idx': 24, 'end_idx': 26...","{'word': '조지 해리슨', 'start_idx': 13, 'end_idx':...",no_relation,wikipedia
1,1,호남이 기반인 바른미래당·대안신당·민주평화당이 우여곡절 끝에 합당해 민생당(가칭)으...,"{'word': '민주평화당', 'start_idx': 19, 'end_idx': ...","{'word': '대안신당', 'start_idx': 14, 'end_idx': 1...",no_relation,wikitree
2,2,K리그2에서 성적 1위를 달리고 있는 광주FC는 지난 26일 한국프로축구연맹으로부터...,"{'word': '광주FC', 'start_idx': 21, 'end_idx': 2...","{'word': '한국프로축구연맹', 'start_idx': 34, 'end_idx...",org:member_of,wikitree
3,3,균일가 생활용품점 (주)아성다이소(대표 박정부)는 코로나19 바이러스로 어려움을 겪...,"{'word': '아성다이소', 'start_idx': 13, 'end_idx': ...","{'word': '박정부', 'start_idx': 22, 'end_idx': 24...",org:top_members/employees,wikitree
4,4,1967년 프로 야구 드래프트 1순위로 요미우리 자이언츠에게 입단하면서 등번호는 8...,"{'word': '요미우리 자이언츠', 'start_idx': 22, 'end_id...","{'word': '1967', 'start_idx': 0, 'end_idx': 3,...",no_relation,wikipedia

In [4]:
df = pd.read_csv('/opt/ml/project/data/data/train/startup.csv')

In [5]:
df.head()

,Unnamed: 0,id,sentence,subject_entity,object_entity,label
0,0,최소기능제품_67,MVP는 사용자가 제품의 특징과 미래를 정의할 수 있도록 사용자의 말을 듣는 공개 ...,"{'start': 0, 'text': 'MVP', 'type': 'poh'}","{'start': 60, 'text': '조기 릴리스', 'type': 'poh'}",no_relation
1,1,최소기능제품_22,MVP는 핵심적인 기능만 있는 제품이기 때문에 외관상 조악하고 부실하게 보일 수 있...,"{'start': 52, 'text': '창업자', 'type': 'per'}","{'start': 0, 'text': 'MVP', 'type': 'poh'}",product
2,2,최소기능제품_37,"예를 들어, 2015년에 시드니 대학의 전문가들이 농장과 잡초 관리를 자동화하기 위...","{'start': 14, 'text': '시드니 대학', 'type': 'org'}","{'start': 48, 'text': '리파 로봇', 'type': 'poh'}",product
3,3,최소기능제품_122,"예약하기 전 본인의 위치 주위에 우버 드라이버들을 보여주고, 승차요금을 예상하고, ...","{'start': 18, 'text': '우버 드라이버', 'type': 'per'}","{'start': 108, 'text': '모바일 앱', 'type': 'poh'}",no_relation
4,4,최소기능제품_100,Airbnb는 2007년 샌프란시스코에서 시작되었다.,"{'start': 0, 'text': 'Airbnb', 'type': 'org'}","{'start': 14, 'text': '샌프란시스코', 'type': 'loc'}",location